<h1>Astronauts</h1>

<% @astronauts.where(space_veteran: true).each do |astronaut| %>
    <h3><%= astronaut.name %></h3>
    <p>Age: <%= astronaut.age %></p>
    <p>Space Veteran: <%= astronaut.space_veteran %></p>
<% end %>

