<h1><%= "#{@shuttle.name} Astronauts - Sorted by Name" %></h1>

<% @astronauts.each do |astronaut| %>
    <h3><%= astronaut.name %></h3>
    <p>Age: <%= astronaut.age %></p>
    <p>Space Veteran: <%= astronaut.space_veteran %></p>
<% end %>